<a href="https://colab.research.google.com/github/Akash-Dinkar-Bhujbal/DataScienceMasters_Coursework/blob/master/Week%201%20Python-%20Basic/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Q1. Create one variable containing following type of data:
(i) string

(ii) list

(iii) float

(iv) tuple

---
**Ans.: Creating 'data_types' dictionary type variable stores all data type variables in Key-Value Pair**

In [ ]:
# Q1. Create one variable containing the following type of data:

data_types = {
    "string": "Hello, world!",
    "list": [1, 2, 3, 4, 5],
    "float": 3.14,
    "tuple": (6, 7, 8, 9, 10)
}

data_types

{'string': 'Hello, world!',
 'list': [1, 2, 3, 4, 5],
 'float': 3.14,
 'tuple': (6, 7, 8, 9, 10)}

# Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

---
**Ans.: {'var1': str, 'var2': str, 'var3': list, 'var4': float}**

In [ ]:
# Q2. What will be the data type of the following variables?

# Given variables
var1 = ' '
var2 = '[ DS , ML , Python]'
var3 = ['DS', 'ML', 'Python']
var4 = 1.

data_types_q2 = {
    "var1": type(var1),
    "var2": type(var2),
    "var3": type(var3),
    "var4": type(var4)
}

data_types_q2

{'var1': str, 'var2': str, 'var3': list, 'var4': float}

# Q3. Explain the use of the following operators using an example:
(i) /

(ii) %

(iii) //

(iv) **

---

**Ans.:**

(i) / : Division

It returns the quotient of the division.
Example: 10/3 returns 3.333...

(ii) % : Modulus

It returns the remainder of the division.
Example: 10%3 returns 1

(iii) // : Floor Division

It returns the quotient of the division, but rounded down to the nearest integer.
Example: 10//3 returns 3

(iv) ** : Exponentiation

It returns the result of raising the first number to the power of the second number.
Example: 2\*\*3 returns 8

In [ ]:
# Q3. Explain the use of the following operators using an example:

operators_examples = {
    "/": 10 / 3,
    "%": 10 % 3,
    "//": 10 // 3,
    "**": 2 ** 3
}

operators_examples

{'/': 3.3333333333333335, '%': 1, '//': 3, '**': 8}

# Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [3]:
# Q4. Create a list of length 10 of your choice containing multiple types of data.

mixed_list = [1, "Hello", 3.14, (1, 2), [5, 6], True, 7, "World", 9.0, False]

# Using a for loop, print the element and its data type.
elements_and_types = [(element, type(element)) for element in mixed_list]

elements_and_types

[(1, int),
 ('Hello', str),
 (3.14, float),
 ((1, 2), tuple),
 ([5, 6], list),
 (True, bool),
 (7, int),
 ('World', str),
 (9.0, float),
 (False, bool)]

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [4]:
# Get user input for A and B
A = int(input("Enter the value for A: "))
B = int(input("Enter the value for B: "))

# Initialize a counter
count = 0

# Check divisibility using a while loop
while A >= B:
    A -= B
    count += 1

print(f"B can purely divide A a total of {count} times.")

Enter the value for A: 100
Enter the value for B: 7
B can purely divide A a total of 14 times.

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [5]:
# Q6. Create a list containing 25 int type data.

int_list = list(range(1, 26))

# Using a for loop and if-else condition, check if the element is divisible by 3 or not.
divisibility_results = {}
for num in int_list:
    if num % 3 == 0:
        divisibility_results[num] = "Divisible by 3"
    else:
        divisibility_results[num] = "Not divisible by 3"

divisibility_results

{1: 'Not divisible by 3',
 2: 'Not divisible by 3',
 3: 'Divisible by 3',
 4: 'Not divisible by 3',
 5: 'Not divisible by 3',
 6: 'Divisible by 3',
 7: 'Not divisible by 3',
 8: 'Not divisible by 3',
 9: 'Divisible by 3',
 10: 'Not divisible by 3',
 11: 'Not divisible by 3',
 12: 'Divisible by 3',
 13: 'Not divisible by 3',
 14: 'Not divisible by 3',
 15: 'Divisible by 3',
 16: 'Not divisible by 3',
 17: 'Not divisible by 3',
 18: 'Divisible by 3',
 19: 'Not divisible by 3',
 20: 'Not divisible by 3',
 21: 'Divisible by 3',
 22: 'Not divisible by 3',
 23: 'Not divisible by 3',
 24: 'Divisible by 3',
 25: 'Not divisible by 3'}

# Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

---

Ans.:

**Mutable Data Types:**

Mutable objects can be changed after they are created. This means we can modify, add, or remove elements from the object without changing the memory location of the object. *Lists and dictionaries* are examples of mutable data types.

Example:

List: We can append, remove, or modify items in a list after its creation.

**Immutable Data Types:**

Immutable objects cannot be changed after they are created. This means once the object is created, its content cannot be modified. If you try to modify it, a new object is created in memory. Strings, numbers (int, float), and tuples are examples of immutable data types.

Example:

String: Even if you try to change a character in a string, you cannot. Any modification results in the creation of a new string.

In [6]:
# Q7. Mutable and Immutable data types examples.

# Mutable example: List
mutable_example = [1, 2, 3]
original_id_list = id(mutable_example)
mutable_example.append(4)  # Modifying the list
modified_id_list = id(mutable_example)

# Immutable example: String
immutable_example = "Hello"
original_id_string = id(immutable_example)
immutable_example += " World"  # Trying to modify the string
modified_id_string = id(immutable_example)

original_id_list, modified_id_list, original_id_string, modified_id_string

(134632020732032, 134632020732032, 134632005825584, 134632020607216)